[include]
        path = ~/.gitconfig.local
[user]
	email = ryan@ryanyeske.com
	name = Ryan Yeske
[core]
	excludesfile = ~/.gitignore_global
        pager = cat
[alias]
        lol = log --pretty=oneline --graph --decorate
        lastweek  = log --since '7 days' --oneline --pretty=format:'%h %an - %s (%cr)' --committer='Ryan Yeske'
        yesterday = log --since '1 days' --oneline --pretty=format:'%h %an - %s (%cr)' --committer='Ryan Yeske'
        recent = branch -v --sort=committerdate
[push]
        default = simple
[color]
	ui = auto
[gitlab]
	user = rcy
[pull]
	ff = only
[credential]
	helper = store
[init]
	defaultBranch = main
[commit]
        gpgsign = true
[gpg]
	format = ssh
[user]
	signingkey = /home/rcy/.ssh/id_rsa.pub
[status]
	showUntrackedFiles = all
[github]
	user = rcy
