[include]
        path = ~/.gitconfig.local
[user]
	email = ryan@ryanyeske.com
	name = Ryan Yeske
[core]
	excludesfile = ~/.gitignore_global
        pager = cat
        hooksPath = ~/gitconfig/hooks

[alias]
        lol = log --pretty=oneline --graph --decorate
        lastweek  = log --since '7 days' --oneline --pretty=format:'%h %an - %s (%cr)' --committer='Ryan Yeske'
        lastweekall  = log --since '7 days' --oneline --pretty=format:'%h %an - %s (%cr)'
        yesterday = log --since '1 days' --oneline --pretty=format:'%h %an - %s (%cr)' --committer='Ryan Yeske'
        #recent = branch -v --sort=committerdate
        recent = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) - %(refname:short) - %(authorname) - %(contents:subject)'
[push]
        default = simple
[color]
	ui = auto
[gitlab]
	user = rcy
[pull]
	ff = only
[credential]
	helper = store
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[gpg]
	format = ssh
[user]
	signingkey = ~/.ssh/id_ed25519.pub
[status]
	showUntrackedFiles = all
[github]
	user = rcy
[gpg "ssh"]
	allowedSignersFile = /home/rcy/.ssh/allowed_signers
